*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #F9F9F9;
    color: #0A192F;

}
#heading{

    font-size: 1.4rem;
    font-weight: 500;
    color: #0A192F;
    letter-spacing: 1px;


}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                 
    padding: 15px 50px;          
    background: #F9F9F9;          
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    z-index: 1000;                 
}

#items{
 display: flex;
 list-style: none;
 gap: 2rem;
 font-weight: 400;
}
#items li a {
    text-decoration: none;
    color: #0A192F;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}


#items li a:hover {
    color: #6C63FF; 
    text-decoration: underline;
    
}
#display{
    margin-top: 75px;
    
    font-size: 3.5rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-content: center;
    
}
#connect{
    padding-top: 2.5%;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#socials{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
#Home{
    height: 100vh;
}
#ab{
    font-size: 1.5rem;
}
#About{
    height: 100vh;
}
#Skills{
    height: 100vh;
}
#Projects{
    height: 100vh;
}